/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Termina reset.css */

@font-face {
  font-family: "VALORANT";
  src: url("./fonts/VALORANT-Regular.woff") format("woff"),
    url("./fonts/Valorant Font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --header-blue-color: #233c8b;
  --header-logo-bg-color: #7cb8df;

  --header-font-valorant: "VALORANT";
}

header {
  background-color: var(--header-blue-color);
  color: white;

  display: flex;
  flex-flow: row wrap;

  justify-content: space-evenly;

  height: 20vh;
}

header a:link,
header a:visited,
footer a:link,
footer a:visited {
  color: white;
  text-decoration: none;
}

.logo {
  background-color: var(--header-logo-bg-color);
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 3vh 0;
}

.search h1 {
  font-family: var(--header-font-valorant), sans-serif;
  font-size: 4rem;
  font-style: italic;
}

.input-search {
  height: 2rem;
  width: 30vw;

  border-radius: 5px;

  margin: 0 4vw;
}

.links {
  display: flex;
  justify-content: space-between;
}

/* Termina CSS de header */

/* Empieza CSS de main */

.presentation {
  background-image: url("./images/fondo-suave.webp");
  background-size: cover;
  background-repeat: no-repeat;

  height: 70vh;

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.presentation h1 {
  font-family: var(--header-font-valorant), sans-serif;
  font-size: 5rem;
}

.presentation p {
  font-size: 2rem;
}

.stroke {
  font-family: var(--header-font-valorant), sans-serif;
  font-size: 5rem;
  text-shadow: -2.5px -2.5px 0 var(--header-blue-color),
    2.5px -2.5px 0 var(--header-blue-color),
    -2.5px 2.5px 0 var(--header-blue-color),
    2.5px 2.5px 0 var(--header-blue-color);
}

/* MAIN */

.pages {
  height: 80vh;

  background-image: url("./images/fondo-suave.webp");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 50px;
}

.pages h1 {
  background-color: grey;
  font-size: 5rem;

  margin: 10px;
}

/* Termina MAIN*/
footer {
  position: fixed;
  bottom: 0;
  margin-top: auto;

  color: white;
}

.footer {
  display: flex;
  flex-flow: row nowrap;

  justify-content: space-around;
}

.color1 {
  background-color: #233c8b;
}

.color2 {
  background-color: #7cb8df;
}

.color1,
.color2 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20vw;
  height: 10vh;
}

/* Estilos de Form */

form {
  background-color: white;
  padding: 20px;

  display: flex;
  flex-flow: row wrap;
}

fieldset {
  display: flex;
  flex-flow: column wrap;

  width: 15vw;

  border: black 1px solid;
  margin: 10px;
  padding: 10px;
}

.boton-enviar {
  background-color: #7cb8df;
  margin-bottom: 50px;
}

.footer {
  background-color: #233c8b;
}

.correct-footer {
  color: wheat;

  height: 20vw;

  display: flex;
  
  padding: 20px;
}

.not-finished {
  font-size: 50px;
  color: white;
}
